.btn {
	.fonts(@family: 'Rubik'; @weight: normal; @size: 14px; @line-height: 40px; @color: @white);

	display: block;
	width: 110px;
	height: 40px;
	text-decoration: none;
	text-align: center;
	background-color: @red;
}