@font-face {
	font-family: OpenSansBold;
	src: url(../fonts/opensansbold.woff2);
}

@font-face {
	font-family: OpenSans;
	src: url(../fonts/opensans.woff2);
}

body {
	-font-size: 16px;
	-line-height: 18px;
	-font-family: Arial, sans-serif;
	-color: @black;
	-font-weight: bold;
	min-width: 320px;

	background-color: @white;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

main {
	.clearfix();
	
	max-width: 1920px;
	background-color: @white;

	-outline: 1px solid orange;	
}



picture {
	.out-indent();
	border: none;
	border-style: none;
}