.breadcrumbs {
	.out-indent();

	padding-top: 15px;
	padding-bottom: 15px;

	list-style: none;
	-opacity: .5;
}

.breadcrumbs__item {
	display: inline-block;
	padding-right: 9px;

	&:not(:last-child)::after {
		content: ">";
		.fonts(@family: "Rubik"; 
			@weight: normal; 
			@size: 14px; 
			@line-height: 14px; 
			@color: @black-opacity-50);
	}
}

.breadcrumbs__link {
	.fonts(@family: "Rubik"; 
		@weight: normal; 
		@size: 14px; 
		@line-height: 14px; 
		@color: @black-opacity-50);

	padding-right: 9px;
	text-decoration: none;
	letter-spacing: 0.01em;
	
	&:hover,
	&:focus {
		color: @red;
	}
}

/* .breadcrumbs__link--current {
	color: @grey-breadcrumbs-current;
} */

/* .breadcrumbs__item:first-child .breadcrumbs__link {
	color: @red;
} */

/*@media (max-width: 1200px) { //max width mobile layout
	.main-block--order .breadcrumbs--order { //for cascade
		.breadcrumbs__item::after {
			color: @white;
		}

		.breadcrumbs__link {
			color: @white;
		}
	}
}*/

.main-block--blog, 
.main-block--order {
	.breadcrumbs {
		padding-top: 25px;
		padding-bottom: 25px;
	}	
}