.breadcrumbs {
	.out-indent();

	padding-top: 20px;
	padding-bottom: 20px;

	list-style: none;
	opacity: .5;
}

.breadcrumbs__item {
	display: inline-block;
	padding-right: 15px;

	&:not(:last-child)::after {
		content: ">";
		.fonts(@family: "Rubik"; 
			@weight: normal; 
			@size: 14px; 
			@line-height: 14px; 
			@color: @black);
	}
}

.breadcrumbs__link {
	.fonts(@family: "Rubik"; 
		@weight: normal; 
		@size: 14px; 
		@line-height: 14px; 
		@color: @black);

	padding-right: 15px;
	text-decoration: none;
	
	
}

.breadcrumbs__link--current {
	color: @grey-breadcrumbs-current;
}

.breadcrumbs--order {
	.breadcrumbs__item::after {
		color: @white;
	}

	.breadcrumbs__link {
		color: @white;
	}
}