.page-footer {
	height: 60px;
	box-sizing: border-box;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: @menu-grey;
}

.copyright-block__text {
	.out-indent();
	.fonts(@family:'Poor Richard Regular'; @weight: 100; @size: 24px; @line-height: 20px; @color: @white);

	opacity: .2;
}