.gallery-menu__list {
	.out-indent();

	margin-bottom: 30px;
	box-sizing: border-box;
	list-style: none;
}

.gallery-menu__item {
	.out-indent();

	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid @grey-pale-border; 
}

.gallery-menu__link {
	.fonts(@family: "Merriweather Bold";
		@weight: bold; 
		@size: 21px; 
		@line-height: 19px; 
		@color: @grey-header);

	text-decoration: none;

	&:hover {
		color: @red;
	}
}

.gallery-submenu__list {
	display: none;	
}


.gallery-menu__item--active {
	.gallery-menu__link {
		color: @red;
	}

	.gallery-submenu__list {
		.out-indent();

		display: block;		
		list-style: none;
	}

	.gallery-submenu__item {
		margin-top: 10px;
	}

	.gallery-submenu__link {
		.fonts(@family: "Rubik"; 
			@weight: normal; 
			@size: 16px; 
			@line-height: 21px; 
			@color: @grey-header);

		text-decoration: none;

		&:hover {
			color: @red;
		}
	}		
}

.gallery-images-block {
	width: 100%;
	margin-bottom: 40px;
	box-sizing: border-box;
	font-size: 0;
}

.gallery-image {
	display: inline-block;
	position: relative;
	margin-right: 1px;
	margin-bottom: 1px;
	width: 192px;
	height: 145px;
	-border: 1px solid @white;
	box-sizing: border-box;
	overflow: hidden;
	transition: 0.5s transform;
				//0s box-shadow 1s;

	&:hover {
		transform: scale(1.1);
		z-index: 99999;
		box-shadow: 0 0 10px 2px @black-opacity-70;
	}
}

/*for height % from width*/
.gallery-images__img-container {
	position: relative;
	height: 0;
	padding-top: 75%;
}

.gallery-images__img-inner {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	/*end h%*/	
	
	// &::before {
	// 	display: inline-block;
	// 	height: 100%;
	// 	vertical-align: middle;
	// 	content: "";
	// }
}

.gallery-photo {
	width: 100%;
	max-width: none;	
	 position: absolute;
	 top: 50%;
	// left: 0;
	// right: 0;
	transform: translateY(-50%);
	-margin-top: -0.625em;
	-vertical-align: middle;
	-display: inline-block;
}

.gallery-modal {
	display: none;

	&--opened {
		display: block;
		position: absolute;
		padding-top: 20px;
		-max-width: calc(~"768px - 20px - 20px");/*desktpo-width - left padding - right padding*/
		-width: 100%;
		-margin-left: @mobile-padding;
		-margin-right: @mobile-padding;
		top: 0;
		left: @mobile-padding;
		right: @mobile-padding;
		z-index: 3000;

		&::before,
		&::after {
			content: "<";
			position: absolute;
			width: 15px;
			height: 25px;			
			top: 50%;
			cursor: pointer;

			.fonts(@family: 'Rubik Light'; 
				@weight: bold; 
				@size: 30px; 
				@line-height: 30px; 
				@color: @grey-modal);
		}

		&::before {
			left: -15px;
		}

		&::after {
			content: ">";
			right: -15px;
		}

		.gallery-modal__header {
			.out-indent();			
			.fonts(@family: 'Rubik Light Italic'; 
				@weight: normal; 
				@size: 21px; 
				@line-height: 18px; 
				@color: @grey-modal);

			margin-bottom: 10px;
			font-style: italic;
		}

		.gallery-modal__material {
			.out-indent();			
			.fonts(@family: 'Rubik Light Italic'; 
				@weight: normal; 
				@size: 14px; 
				@line-height: 23px; 
				@color: @grey-modal);

			font-style: italic;
		}

		.gallery-modal__image {
			width: 100%;
			margin-top: 20px;
			margin-bottom: 20px;
		}

		.gallery-modal__photo {
			width: 100%;
			max-width: none;
		}

		.gallery-modal__descr {
			.out-indent();			
			.fonts(@family: 'Rubik Light Italic'; 
				@weight: normal; 
				@size: 14px; 
				@line-height: 18px; 
				@color: @grey-modal);

			font-style: italic;
		}
	}
}

.gallery-overlay {
	display: none;

	&--opened {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 1000;

		background-color: @black-opacity-95;
	}
}

@media @desktop-width {
	.gallery-image {
		width: 260px;
		height: 196px;
	}
	
	.gallery-modal {
		&--opened {
			max-width: 745px;
			left: @desktop-padding;
			right: @desktop-padding;

			&::before {
				left: -4%
			}

			&::after {
				right: -4%;
			}
		}
	}
}

@media (min-width: 845px) {
	.gallery-modal {
		&--opened {
			left: calc(~"50% - 372.5px");
			right: calc(~"50% - 372.5px");
		}
	}
}

@media @desktop-wise-width {
	.gallery-menu__list {
		.clearfix();

		width: 15%;
		min-width: 160px;
		float: left;
		padding-right: 20px;
	}

	.gallery-images-block {
		width: auto;
		margin-left: 15%;
	}

	

	.gallery-modal {
		&--opened {
			
			padding-top: 30px;
		}
	}
}