.guitars-container {
	position: relative;
	font-size: 0;
	margin-bottom: 40px;

	&::after { /*for line under empty space*/
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		bottom: -1px;
		left: 0;
		right: 0;
		background-color: @white;

	}	
}

.guitar-card {
	display: inline-block;
	vertical-align: top;

	width: 50%;
	min-width: 140px;
		
	border-top: 1px solid @grey-pale-border-2;
	/*for line under empty space*/
	border-bottom: 1px solid @grey-pale-border-2; 
	margin-bottom: -1px;
	padding-bottom: 1px;
	/*---------*/

	text-align: center;
		
}

.guitar-card__inner {
	width: 140px;
	padding-top: 20px;
	padding-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
}

.guitar-card__header {
	.out-indent();
	.fonts(@family: "Merriweather Bold"; 
		@weight: bold; 
		@size: 18px; 
		@line-height: 1; 
		@color: @grey-header);

	opacity: .5;
}

.guitar-card__min-deskr {
	.out-indent();
	.fonts(@family: "Merriweather Bold"; 
		@weight: bold; 
		@size: 14px; 
		@line-height: 25px; 
		@color: @grey-header);

	opacity: .5;
}

.guitar-card__image {	
	margin-top: 10px;
	margin-bottom: 10px;
	vertical-align: top;
}

.guitar-card__btn {
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 620px) {
	
	.guitar-card__inner {
		width: 285px;
		padding-top: 50px;
		padding-bottom: 65px;
	}

	.guitar-card__header {
		font-size: 42px;
	}

	.guitar-card__min-deskr {
		font-size: 16px;
		line-height: 35px;
	}

	.guitar-card__image {
		padding-top: 30px;
		padding-bottom: 20px;
	}
}

@media (min-width: 940px) {
	.guitar-card {
		width: 33.3333333%;
	}
}

@media (min-width: 1220px) {
	.guitar-card {
		width: 25%;
	}
}