.page-header {
	.clearfix();
	.container-fluid(@mobile-padding);
	
	position: fixed;
	width: 100%;
	min-width: 320px;
	height: @header-footer-mobile-height;
	box-sizing: border-box;
	background-color: @menu-grey;
	padding-top: 20px;
	padding-bottom: 20px;
	z-index: 1000;	
	font-size: 0;
}

.page-header__logo {
	display: inline-block;
	margin-top: -2px;
	margin-left: -3px;
}

.page-header__title {
	.out-indent();
	.fonts(@family:'Poor Richard Regular'; 
		@weight: normal; @size: 24px; 
		@line-height: 20px;
		@color: @white-opacity-70);

	display: inline-block;

	-opacity: .7;
	vertical-align: top;
	letter-spacing: -0.7px;
}

.main-nav {
	-position: relative;
	-background-color: rgba(45, 45, 45, .8);
	z-index: 2000;
}

.main-nav__wrapper {
	position: absolute;
	background-color: @menu-grey-opacity;
	top: 60px;
	left: 0;
	right: 0;
	z-index: 9999;
}

.main-nav__toggle {
	.out-indent();

	position: absolute;
	top: 20px;
	right: 25px;
	z-index: 10;

	display: block;
	width: 20px;
	height: 20px;
	border: 0;
	outline: 0;
	background-color: @menu-grey-opacity;
	cursor: pointer;
}

.main-nav--closed {
	.main-nav__wrapper {
		display: none;
	}

	.main-nav__toggle::before{
		content: "";
		position: absolute;
		top: 0;
		left: -5px;

		width: 30px;
		height: 2px;

		background-color: @white;
		box-shadow: 0 8px 0 0 @white,
					0 16px 0 0 @white;
	}
}

.main-nav--opened {
	.main-nav__wrapper {
		display: block;
	}

	.main-nav__toggle {
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 9px;
			left: -4px;

			width: 28px;
			height: 2px;

			background-color: @white;
		}

		&::before {
			transform: rotate(45deg);
			box-shadow: none;
		}

		&::after {
			transform: rotate(-45deg);
		}
	}
}

.main-nav__list {
	.out-indent();
	list-style: none;
	text-align: right;
	text-transform: uppercase;
	
	padding-left: 20px;
	padding-right: 20px;
}

.main-nav__item {
	.out-indent();
	display: block;
	margin-top: 40px;
	-padding-bottom: 20px;
}

.main-nav__link {
	.out-indent();
	.fonts(@family: 'Rubik Light'; 
		@weight: normal; 
		@size: 14px; 
		@line-height: 14px; 
		@color: @white-opacity-60);

	-display: block;
	-opacity: .6;
	text-decoration: none;
	position: relative;

}

.main-nav__list--request {
	display: none;	
}

.main-nav__search-input {
	.out-indent();
	.fonts(@family: 'Rubik Light'; 
		@weight: normal; 
		@size: 14px; 
		@line-height: 14px; 
		@color: @white-opacity-60);

	width: 100%;/*calc(~"100% - 20px")*/ /*20px - mobile-padding*/
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 25px;
	box-sizing: border-box;
	border: 0;
	outline: 0;
	border-bottom: 1px solid @white-opacity-60;
	background-color: transparent;
	-text-transform: uppercase;
}

.main-nav__search-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  	.fonts(@family: 'Rubik Light'; 
		@weight: normal; 
		@size: 14px; 
		@line-height: 14px; 
		@color: @white-opacity-60);

  	text-transform: uppercase;
}
.main-nav__search-input::-moz-placeholder { /* Firefox 19+ */
  	.fonts(@family: 'Rubik Light'; 
		@weight: normal; 
		@size: 14px; 
		@line-height: 14px; 
		@color: @white-opacity-60);

  	text-transform: uppercase;
}
.main-nav__search-input:-ms-input-placeholder { /* IE 10+ */
  	.fonts(@family: 'Rubik Light'; 
		@weight: normal; 
		@size: 14px; 
		@line-height: 14px; 
		@color: @white-opacity-60);

  	text-transform: uppercase;
}
.main-nav__search-input:-moz-placeholder { /* Firefox 18- */
  	.fonts(@family: 'Rubik Light'; 
		@weight: normal; 
		@size: 14px; 
		@line-height: 14px; 
		@color: @white-opacity-60);

  	text-transform: uppercase;
}
.main-nav__search-input::placeholder {
	.fonts(@family: 'Rubik Light'; 
		@weight: normal; 
		@size: 14px; 
		@line-height: 14px; 
		@color: @white-opacity-60);

	text-transform: uppercase;
}

.main-nav__search-input:active + .main-nav__link--search,
.main-nav__search-input:hover + .main-nav__link--search,
.main-nav__search-input:focus + .main-nav__link--search,{
	.main-nav__search-icon {
		fill: @white;
	}
}

.main-nav__item--search {
	position: relative;
}

.main-nav__link--search {
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	right: 0;
	bottom: 10px;
	-top: 5px;
}

.main-nav__search-icon {
	.icon-add-fill("../img/symbols.svg", 
		@white-opacity-60);

	width: 20px;
	height: 20px;
	fill: @white-opacity-60; 
}

.main-nav__item--current .main-nav__link {
	color: @white;
	-opacity: 1;
	position: relative;

	/* &::before {
		content: "";
		display: block;
		width: 100%;
		height: 2px;
		position: absolute;
		bottom: -10px; chech in psd
		left: 0;
		right: 0;
		background-color: @red;
	} */
}

.main-nav__list--main-list {
	.main-nav__item--current .main-nav__link,
	.main-nav__item .main-nav__link:hover {
		position: relative;

		&::before {
			content: "";
			display: block;
			width: 100%;
			height: 2px;
			position: absolute;
			bottom: -10px;
			left: 0;
			right: 0;
			background-color: @red;
		}
	}
}

.main-nav__list--search .main-nav__search-icon:hover {
	fill: @white;
}

.main-nav__list--language .main-nav__link:hover{	
	color: @white;			
}





/*munu mobile working if js is turned off*/
.no-js {
	.page-header {
		position: static;
		height: auto;
	}

	.main-nav__wrapper {
		display: block;
		position: static;
		background-color: @menu-grey;
	}

	.main-nav__toggle {
		display: none;
	}
}

@media (min-width: 1050px) {
	.page-header {
		.container-fluid(@desktop-padding);
	}

	.page-header__logo {
		margin-top: -7px;
	}

	.page-header__title {
		margin-right: 30px;
	}

	.main-nav {
		display: block;
		float: right;
	}

	.main-nav__toggle {
		display: none;
	}

	.main-nav .main-nav__wrapper { /*for display*/
		display: block;
		position: static;
		height: auto;
	}

	.main-nav__list {
		display: inline-block;
		padding-left: 0;
		padding-right: 30px;
	}

	.main-nav__list:last-child {
		padding-right: 0;
	}

	.main-nav__item {
		display: inline-block;
		margin-top: 0;
		padding-right: 30px;
		-position: relative;
	}

	.main-nav__item:last-child {
		padding-right: 0;
	}

	.main-nav__list--request {
		padding-left: 0;
		-padding-right: 0;		
	}

	.main-nav__link--request {
		.fonts(@family: 'Rubik'; 
			@weight: normal; 
			@size: 14px; 
			@line-height: 40px; 
			@color: @white); /*as btn, fix*/


		width: 120px;
		-margin: 0;
		margin-top: -20px;
		margin-bottom: -20px;
	    padding-top: 10px;	    
	    padding-bottom: 10px;
	    border-radius: 0;
	    -opacity: 1;
	}

	.main-nav__list--search {
		padding-right: 40px;
	}

	.main-nav__item--search {
		width: 20px;
	}

	.main-nav__search-input {
		display: none;
	}

	.main-nav__link--search {
		bottom: -8px;
	}
}