.main-block--home {
	-margin-top: 0;
}
/*-------------------------------------------
style for all h3
---------------------------------------------*/
.main-home-header { //maybe all in anchor
	.out-indent();
	.fonts(@family: 'Merriweather Bold'; 
		@weight: normal;
		@size: 21px; 
		@line-height: 26px; 
		@color: @grey-taskbar);

	letter-spacing: -0.7px;

	&:hover,
	&:focus {
		-color: @red;
	}
}

/*------------------------------------------
style for all dates
--------------------------------------------*/


.main-home-date {
	.out-indent();
	.fonts(@family: 'Rubik'; 
		@weight: normal; 
		@size: 14px; 
		@line-height: 14px; 
		@color: @grey-taskbar);

	opacity: .5;
}

.poster {
	.row(@mobile-padding);	

	position: relative;
	width: 100%;
	min-height: calc(~"100vh - 60px - 190px");
	-height: calc(~"100vh - 60px - 190px");
	padding-top: 190px;
	-box-sizing: border-box;
	overflow: hidden;
	background-color: @black-opacity-20;
	background-image: url(../img/bg-home.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

.poster__bg-header {
	.out-indent();
	.fonts(@family: 'Gentium Basic Bold'; 
		@weight: normal; 
		@size: 400px; 
		@line-height: 300px; 
		@color: @white-opacity-10); // 

	position: absolute;
	-top: 5%;
	top: 40px;
	left: -30%;
	white-space: nowrap;
	opacity: 0;
}

.poster__text-block {
	max-width: 280px;
	-padding-top: 40%;
	-padding-bottom: 20%;
	margin-left: auto;
	margin-right: auto;
}

.poster__header {
	.out-indent();
	.fonts(@family: 'Gentium Basic Bold'; 
		@weight: normal; 
		@size: 32px; 
		@line-height: 32px; 
		@color: @white);
	
	-margin-bottom: 7%;
}

.poster__remark {
	.fonts(@family: 'Rubik Light'; 
		@weight: normal; 
		@size: 11px; 
		@line-height: 21px; 
		@color: @white-opacity-50);

	text-align: right;
	float: right;
	-margin-bottom: 7%;
}

.poster__descr {
	.out-indent();
	.fonts(@family: 'Rubik Light'; 
		@weight: normal; 
		@size: 14px; 
		@line-height: 21px; 
		@color: @white);

	max-width: 330px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	margin-bottom: 60px;
}

.poster__btn {
	position: relative;
	z-index: 999; //for clicable of link
	margin-left: auto;
	margin-right: auto;
}

.taskbar .taskbar__navigation {
	padding-top: 30px;
	-padding-bottom: 30px;
	border-bottom: 1px solid @grey-btm-bd;
}

.taskbar__navigation {
	max-width: 285px;
}

.taskbar__header--nav {
	margin-bottom: 25px;
}

.taskbar__nav-list {
	.out-indent();	

	list-style: none;
	margin-left: -10px;
}

.taskbar__nav-list:last-child {
	border-right: none;
}

.taskbar__nav-item {
	display: inline-block;
	margin-bottom: 20px;
	padding-right: 10px;
	padding-left: 10px;
	border-right: 1px solid @black;
}

.taskbar__nav-link {
	.fonts(@family: 'Rubik Light'; 
		@weight: normal; 
		@size: 16px; 
		@line-height: 21px; 
		@color: @grey-taskbar);

	text-decoration: none;
	cursor: pointer;

	&:hover,
	&:focus {
		color: @red;
	}

	&--carrent {
		font-family: 'Rubik Medium';

		&:hover,
		&:focus {
			color: @grey-taskbar;
		}
	}

}

.taskbar__last-articles {
	padding-top: 25px;	
	-border-bottom: 1px solid @grey-btm-bd;

	&--main-page {
		padding-bottom: 70px;
	}
}


.taskbar__header--last-article {
	margin-bottom: 35px;
}

.taskbar__article-title {
	-margin-left: -20px;
	-margin-right: -20px;
	margin-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	-padding-left: 40px;
	-padding-right: 40px;
	padding-top: 5px;
	padding-bottom: 20px;	
	background-color: @grey-btm-bd; //@grey-blog-menu-op;
}

.taskbar__date {
	-margin-bottom: 15px;
}



.taskbar__article-name {
	.out-indent();
	/* .fonts(@family: 'Merriweather Bold'; 
		@weight: normal; 
		@size: 16px; 
		@line-height: 22px; 
		@color: @grey-taskbar); */

	margin-top: 10px;
	margin-bottom: 10px;
}

.taskbar__article-link {
	.fonts(@family: 'Merriweather Bold'; 
		@weight: normal; 
		@size: 16px; 
		@line-height: 22px; 
		@color: @grey-taskbar);

	-display: block;
	text-decoration: none;
	-text-align: right;
	-cursor: pointer;
	-float: right;

	&:hover,
	&:focus {
		color: @red;
	}
}

.taskbar__blog-link {
	float: right;	
}

.taskbar__for-desktop {
	display: none;
}

.main-content {
	margin-bottom: 40px;
}

.article {
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 1px solid @grey-btm-bd;
	min-height: 350px;
	box-sizing: border-box;
}

.article:last-child {
	border-bottom: 1px solid @grey-btm-bd;
}

.article__img {
	margin-bottom: 30px;
	-width: 100%;
}

.article__photo {
	width: 100%;
}

.article__date {
	margin-bottom: 20px;
}

.main-home_header-link {
	.fonts(@family: 'Merriweather Bold'; 
		@weight: normal;
		@size: 21px; 
		@line-height: 26px; 
		@color: @grey-taskbar);

	letter-spacing: -0.7px;
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		color: @red;
	}
}

.article__header {
	margin-bottom: 15px;
}

.acticle__content {
	.out-indent();
	.fonts(@family: 'Rubik Light'; 
		@weight: normal; 
		@size: 16px; 
		@line-height: 23px; 
		@color: @grey-taskbar);

	margin-bottom: 30px;
}

.article__social {
	display: inline-block;
}

.article__link {
	.fonts(@family: 'Rubik'; 
		@weight: normal; @size: 14px; 
		@line-height: 14px; 
		@color: @grey-taskbar);

	display: inline-block;
	float: right;
}

@media (min-width: 520px) {
	.poster__text-block {
		max-width: 430px;
	}

	.poster__header {
		font-size: 50px;
		line-height: 50px;
	}
}

@media @desktop-width {
	.poster {
		.row(@desktop-padding);

		min-height: calc(~"100vh - 60px - 240px");
		padding-top: 240px;
	}

	.poster__text-block {
		max-width: 600px;
	}

	.poster__header {
		font-size: 70px;
		line-height: 70px;
	}

	.taskbar {
		width: 285px;
		float: right;
		margin-left: 70px;
	}

	.taskbar__article-title {
		margin-left: 0;
		margin-right: 0;
		padding-left: 20px;
		padding-right: 20px;
	}

	.taskbar__for-desktop {
		display: block;
	}

	.taskbar__blog-link {
		float: none;
		margin-left: 20px;
	}

	.main-content {
		margin-right: 355px;
	}	
	
}

@media (min-width: 1200px) {
	.article__img {
		float: left;
		margin-right: 55px;
	}

	.article__header {
		line-height: 30px;
	}
}