.main-block--home {
	padding-top: 0;
}
/*-------------------------------------------
style for all h3
---------------------------------------------*/
.main-home-header {
	.out-indent();
	.fonts(@family: 'Merriweather Bold'; @weight: bold; @size: 21px; @line-height: 26px; @color: @grey-taskbar);

	letter-spacing: -0.7px;
}

/*------------------------------------------
style for all dates
--------------------------------------------*/
.main-home-date {
	.out-indent();
	.fonts(@family: 'Rubik'; @weight: normal; @size: 14px; @line-height: 14px; @color: @grey-taskbar);

	opacity: .5;
}

.taskbar__navigation {
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid @grey-btm-bd;
}

.taskbar__header--nav {
	margin-bottom: 25px;
}

.taskbar__nav-list {
	.out-indent();	

	list-style: none;
	margin-left: -10px;
}

.taskbar__nav-list:last-child {
	border-right: none;
}

.taskbar__nav-item {
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	border-right: 1px solid @black;
}

.taskbar__nav-link {
	.fonts(@family: 'Rubik Light'; @weight: normal; @size: 16px; @line-height: 21px; @color: @grey-taskbar);

	text-decoration: none;
	cursor: pointer;
}

.taskbar__nav-link--carrent {
	font-family: 'Rubik Medium';
}



.taskbar__last-articles {
	padding-top: 30px;
	padding-bottom: 70px;
	-border-bottom: 1px solid @grey-btm-bd;
}


.taskbar__header--last-article {
	margin-bottom: 35px;
}

.taskbar__article-title {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 35px;

}

.taskbar__date {
	-margin-bottom: 15px;
}



.taskbar__article-name {
	.out-indent();
	.fonts(@family: 'Merriweather Bold'; @weight: bold; @size: 16px; @line-height: 22px; @color: @grey-taskbar);

	margin-top: 15px;
	margin-bottom: 15px;
}

.taskbar__article-link {
	.fonts(@family: 'Rubik'; @weight: normal; @size: 14px; @line-height: 14px; @color: @grey-taskbar);

	display: block;
	text-decoration: underline;
	text-align: right;
	cursor: pointer;
	-float:right;
}

.taskbar__blog-link {
	float: right;	
}

.taskbar__for-desktop {
	display: none;
}

.article {
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 1px solid @grey-btm-bd;
	min-height: 350px;
	box-sizing: border-box;
}

.article:last-child {
	border-bottom: 1px solid @grey-btm-bd;
}

.article__img {
	margin-bottom: 30px;
}

.article__date {
	margin-bottom: 30px;
}

.article__header {
	margin-bottom: 30px;
}

.acticle__content {
	.fonts(@family: 'Rubik Light'; @weight: normal; @size: 16px; @line-height: 23px; @color: @grey-taskbar);

	margin-bottom: 30px;
}

.article__social {
	display: inline-block;
}

.article__link {
	.fonts(@family: 'Rubik'; @weight: normal; @size: 14px; @line-height: 14px; @color: @grey-taskbar);

	display: inline-block;
	float: right;
}

@media @desktop-width {
	.taskbar {
		width: 285px;
		float: right;
		margin-left: 70px;
	}

	.taskbar__for-desktop {
		display: block;
	}

	.taskbar__blog-link {
		float: none;
	}

	.article__img {
		float: left;
		margin-right: 55px;
	}

	.article__header {
		line-height: 30px;
	}
}