.main-block--order {
	-padding-left: 0;
	-padding-right: 0;
}

.order__wrapper {
	margin-left: -(@mobile-padding);
	margin-right: -(@mobile-padding);
	padding-left: @mobile-padding;
	padding-right: @mobile-padding;
	-background-color: @bgc-summery-order;
}

.breadcrumbs--order {
	/*breadcrumbs.less*/
}

.order__block-space {
	display: none;
}

.order__header {
	.out-indent();
	.fonts(@family: 'Merriweather Bold';
		@weight: normal; 
		@size: 32px; 
		@line-height: 18px; 
		@color: @menu-grey); /*@grey-order-font*/

	margin-top: 15px;
	margin-bottom: 40px;
}

.order__desctop-menu {
	display: none;
}

.order__sector {
	-max-width: 740px;
	margin-left: -(@mobile-padding);
	margin-right: -(@mobile-padding);
	padding-left: @mobile-padding;
	padding-right: @mobile-padding;
	-padding-bottom: 30px;
	-border-top: 1px solid @white-opacity-20;
	border-top: 9px solid @grey-opacity-20; 

	.clearfix();

	&:last-child {
		border-bottom: 9px solid @grey-opacity-20; 
	}

	&--contacts {
		padding-bottom: 0;
	}

	&--active {
		-background-color: @grey-order-sector-active;

		.order__sector-button {
			-background-color: @grey-order-sector-active; /*for IE*/
		}
	}

	&--complete {
		.order__sector-number {
			color: @white-opacity-80;
			background-color: @tiffany;
		}
	} 
}

.order__sector-name {//maybe detele???
	-padding-top: 20px;
	-padding-bottom: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.order__sector-number {
	.fonts(@family: 'Rubik Medium';
		@weight: normal; 
		@size: 16px; 
		@line-height: 35px; 
		@color: @grey-order-number); //18px 40px @grey-order-number-op

	display: inline-block;
	margin-right: 10px;
	width: 35px;
	height: 35px;
	border: 1px solid @grey-order-number;
	border-radius: 50%;
	-background-color: @white-opacity-60;
	text-align: center;
	box-sizing: border-box;
}

.order__sector-header {
	.out-indent();
	.fonts(@family: 'Rubik Medium';
		@weight: normal; 
		@size: 16px; 
		@line-height: 35px; 
		@color: @grey-order-sector-head); //18px 40px

	display: inline-block;
	text-transform: uppercase;
}

.order__subsector-list {
	.out-indent();

	max-width: 740px;
	list-style: none;
	display: none;
	-opacity: 0;
	-height: 0%;
	-overflow: hidden;
	-transition: all 3s linear 0s;

	&--active {
		display: block;
		-height: 100%;
		-opacity: 1;
	}
}

.order__subsector {
	.clearfix();

	-margin-bottom: 20px;

	&:not(:first-child) {
		-margin-top: 30px;
		margin-top: 20px;
	}

	&:not(:last-child) {
		-margin-bottom: 30px;
		margin-bottom: 20px;
		border-bottom: 1px solid @black-opacity-10;
	}	
}

.order__subsector-head,
.order__sector-name {
	position: relative;
	cursor: pointer;
}

.order__subsector-name {
	.out-indent();
	.fonts(@family: 'Rubik';
		@weight: normal; 
		@size: 14px; 
		@line-height: 18px; 
		@color: @grey-order-font-point);

	text-transform: uppercase;
	-position: relative;	
}

.order__sector-button {
	.out-indent();

	position: absolute;
	right: 0;
	-top: 0;
	top: 5px;
	-bottom: 0;
	height: 18px;
	width: 18px;
	border: 0;
	outline: 0;
	-background-color: @bgc-summery-order;
	background-color: @white;
	-border: 1px solid #fff;
	cursor: pointer;
	transition: transform 0.5s ease-in 0s;

	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 13px;
		height: 2px;
		-bottom: 4px;
		top: 8px;
		background-color: @grey-order-bd;

	}

	&::before {
		left: -2px;
		transform: rotate(45deg);
	}

	&::after {
		right: -2px;
		transform: rotate(-45deg);
	}

	&--open {
		transform: rotate(180deg);
	}
}

.order__customer-head-wrapper { /*for contacts sector*/
	position: relative;
	.order__sector-button {
		-top: 10px;
	}
}

.order__subsector-value {//maybe delete
	.fonts(@family: 'Rubik';
		@weight: normal; 
		@size: 14px; 
		@line-height: 18px; 
		@color: @white-opacity-80);
}

.order__subsector-accord { // !!!! maybe all style to li.order__subsector
	-display: none;//////////timed!!

	.out-indent();

	-margin-top: 30px;
	-margin-top: 20px;
	-margin-left: -(@mobile-padding);
	-margin-right: -(@mobile-padding);
	-margin-left: @mobile-padding;
	-margin-right: @mobile-padding;
	-padding-left: @mobile-padding;
	-padding-right: @mobile-padding;
	-padding-top: 30px;
	-padding-bottom: 30px;////
	-background-color: @white;

	&:last-child {
		-border-bottom: none;
	}
}

.order__subsector-accord--active {
	display: block;

	
}

.order__accord-header-wrapper {
	position: relative;
	cursor: pointer;
}

.order__accord-header {
	.out-indent();
	.fonts(@family: 'Rubik'; 
		@weight: normal; 
		@size: 12px; 
		@line-height: 18px; 
		@color: @black-opacity-70);// 14px @grey-order-accord

	-margin-top: 30px;
	-margin-bottom: 30px;	
	margin-bottom: 20px;
	text-transform: uppercase;

}

.order__accord-header-button {
	.out-indent();

	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	height: 18px;
	width: 18px;
	border: 0;
	outline: 0;
	background-color: @white;
	-border: 1px solid #fff;
	cursor: pointer;

	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 13px;
		height: 2px;
		top: 4px;
		background-color: @grey-order-bd;

	}

	&::before {
		left: -2px;
		transform: rotate(-45deg);
	}

	&::after {
		right: -2px;
		transform: rotate(45deg);
	}
}

.order__accord-descript {
	.out-indent();
	.fonts(@family: 'Rubik Light'; 
		@weight: normal; 
		@size: 12px;
		@line-height: 16px; 
		@color: @black-opacity-60); //14px 18px

	margin-top: 5px;
	margin-bottom: 5px;

	&--neck {
		margin-bottom: 30px;
	}

	&--neck-cramping,
	&--polish {			
		margin-left: 18px;
		margin-bottom: 20px;
	}

	&--contacts {
		font-family: 'Rubik';
		margin-bottom: 20px;
	}
}

.order__accord-field {
	.out-indent();
	
	margin-bottom: 30px;
	border: 0;
	font-size: 0;

	&--images-cards {
		margin-right: -20px;
		margin-bottom: 0;
	}

	&--neck-cramping,
	&--polish {
		-margin-bottom: 20px;
	}

	&--customer-info {
		.order__accord-customer-input,
		.order__accord-comment-field {
			padding: 10px;

			&:active,
			&:focus {					
				border: 2px solid @turquoise;
			}
		}
		.order__accord-comment-field {
			-width: 100%;
			width: 340px;
		}
	}
}

.order__arrord-mat-card {
	display: inline-block;
	width: 50%;
	min-width: 150px;
	max-width: 160px; /*label width + max lebel margin-right*/
	margin-bottom: 30px;
}

.order__accord-image-block {
	// .fonts(@family: 'Rubik'; 
	// 	@weight: bold; 
	// 	@size: 14px; 
	// 	@line-height: 18px; 
	// 	@color: @black);

	display: block;
	margin-right: 20px;
	-width: 130px;
	vertical-align: top;
}

.form-label {
	.fonts(@family: 'Rubik'; 
	 	@weight: normal; 
	 	@size: 14px; 
	 	@line-height: 18px; 
	 	@color: @black);

	display: inline-block;
	margin-right: 18px;
	-padding-bottom: 5px;		
	width: 130px;//130
	-vertical-align: top;
	cursor: pointer;

	&--radio {
		position: relative;
		padding-left: 20px;
		-width: 100%;

		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 12px;
			height: 12px;
			margin-top: -6px;
			left: 0;
			top: 50%;
			border: 1px solid @grey-order-custom-signs;
			border-radius: 50%;
			box-sizing: border-box;
		}

		&::after {
			display: none;
			width: 6px;
			height: 6px;
			margin-top: -3px;
			left: 3px;//2.5px
			-top: 3px;
			border: none;
			border-radius: 50%;
			background-color: @red;
			box-sizing: border-box;
		}
	}

	&--check-label {
		position: relative;
		padding-left: 20px;

		&::before {
			content: "";
			position: absolute;
			width: 12px;
			height: 12px;
			padding: 2px;
			-margin-top: -6px;
			left: 0;
			top: 2px;
			border: 1px solid @grey-order-custom-signs;
			box-sizing: border-box;
		}
		
	} 

	&--image-radio {
		width: 100%;
		margin-right: 0;
	}

	&--customer {
		padding-top: 10px;
		padding-bottom: 10px;
		vertical-align: top;
		font-weight: normal;
		color: @grey-header;
		text-transform: uppercase;
	}	
}

.order__accord-radio,
.order__accord-check {
	display: none;
}

.order__accord-radio:checked + label::before {
	border-color: @red;
}

.order__accord-radio:checked + label::after {
	display: block;

}

.order__accord-check:checked + label::before {
	background-image: url("../img/icon/right.svg");
	background-repeat: no-repeat;
}

.order__accord-image {
	display: block;
	width: 130px;
	-border: 1px solid #000;
	border-radius: 4px;
	overflow: hidden;
	margin-bottom: 10px;
	cursor: pointer;
}

.order__accord-pict {
	width: 100%;
}

	/*.order__accord-radio111,
	.order__accord-check111{
		margin-right: 4px;
		display: inline-block;
		vertical-align: top;
	}*/

.order__comment-link {
	
}

.order__add-comment-btn {
	// .fonts(@family: 'Rubik'; 
	// 	@weight: normal; 
	// 	@size: 14px; 
	// 	@line-height: 38px; 
	// 	@color: @grey-header); /*lh height - 2px (border width)*/

	// float: right;
	// margin-bottom: 20px;
	// -margin-top: 30px;
	// width: 135px;
	// height: 40px;

	// border: 1px solid @grey-header;
	// outline: 0;
	// background-color: @white;

	// text-align: center;
	// cursor: pointer;

	// display: block;

	.order-links-font();

	float: right;
	margin-bottom: 30px;		

	-display: none; 
}

.order__add-comment-btn--hidden {
	display: none;
}

.order__accord-comment-wrapper {
	display: none;
	position: relative;
	margin-bottom: 20px;

	.order__comment-button-wrapper {
		display: none;
	}

	&--active {			
		display: block;			
	}

	&--disabled {
		display: block;	
		
		.order__accord-comment-field {
			background-color: @order-comment-bg;
			border: none;
		}

		.order__comment-button-wrapper {
			display: block;
			position: absolute;
			bottom: 20px;
			right: 20px;
		}

		.order__comment-button {
			.order-links-font();

			display: inline-block;
			margin-right: 20px;
		}

		.order__send-comment-btn {
			display: none;
		}
	}

	.order__send-comment-btn {
		margin-top: 20px;
		padding-left: 30px;
		padding-right: 30px;
		border: 1px solid @red;
		background-color: inherit;
		color: @red;
	}
}


.order__accord-comment-wrapper--active {// do it for textarea order__accord-comment-field ???
	
}

.order__accord-comment-field {
	.fonts(@family: 'Rubik'; 
		@weight: normal; 
		@size: 12px; 
		@line-height: 18px; 
		@color: @grey-order-comment-font); //14px @black

	
	-width: calc(~"100% - 35px");
	width: 100%;
	-margin-right: 35px;
	-margin-bottom: 20px;
	padding: 20px;
	padding-bottom: 40px;
	border-radius: 4px;
	border: 1px solid @black-opacity-30;	
	resize: none;
	outline: none;
	box-sizing: border-box;
	-background-color: @order-comment-bg;		

	&--fixed {
		-width: 100%;
		margin-top: 20px;
		-border: 2px solid @black;
	}

	&--customer-info {
		border: 1px solid @black;
	}
	
}


	
.order__accord-comment-button {
	display: none; ////// DELETE!!!!!!
	/*.out-indent();

	position: absolute;		
	width: 20px;
	height: 20px;
	top: 0;
	right: 0;
	outline: 0;
	border: 0;
	background-color: inherit;
	cursor: pointer;

	&::before,
	&::after {
		content: "";
		position: absolute;
		height: 1px;
		width: 28px;
		top: 9px;
		left: -4px;
		background-color: @grey-header;
	}

	&::before {
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg)
	}*/
}

.order__accord-select {
	.fonts(@family: 'Rubik'; 
		@weight: normal; 
		@size: 14px; 
		@line-height: 18px; 
		@color: @black);

	display: inline-block;
	width: 60px;
	height: 30px;
	padding-left: 10px;
	vertical-align: bottom;
	border: 1px solid @grey-order-select-bd;
	
	&--freds {
		display: block;
		margin-bottom: 30px;
	}
}

.order__accord-electornic-select-block {
	margin-bottom: 30px;
}

.order__accord-electornic-check-block {
	margin-bottom: 10px;
}

.order__accord-radio-block {
	.out-indent();

	list-style: none;
}

.order__accord-radio-item {
	.out-indent();

	display: block;
	&:not(:last-child) {
		margin-bottom: 10px;
	}		
}

.order__accord-customer-block {
	&:not(:last-child) {
		margin-bottom: 20px; /*may be 30px*/
	}
	
}

.order__accord-customer-input {
	.fonts(@family: 'Rubik'; 
		@weight: normal; 
		@size: 14px; 
		@line-height: 18px; 
		@color: @grey-header);

	box-sizing: border-box;
	width: 340px;
	-padding: 10px;
	border: 1px solid @black;
}

.order__submit-btn {
	-width: 130px;
	width: 100%;
	max-width: 600px;
	margin-bottom: 20px;
	-margin-left: auto;
	-margin-right: auto;
	-background-color: @turquoise-btn;
	background-color: @red;
}

.order__sector-btn-block {
	display: none;
}
//}



@media (min-width: 490px) { /*min-width card of color *3 + side padding * 2*/
	.order__subsector-accord--active {
		.order__arrord-mat-card {
			width: 33.333333%;
		}
	}
}

@media (min-width: 640px) { /*min-width card of color *4 + side padding * 2*/
	.order__subsector-accord--active {
		.order__arrord-mat-card {
			width: 25%;
		}
	}
}

@media @desktop-width {
	.order__wrapper {
		margin-left: -(@desktop-padding);
		margin-right: -(@desktop-padding);
		padding-left: @desktop-padding;
		padding-right: @desktop-padding;
	}

	.order__sector {
		margin-left: -(@desktop-padding);
		margin-right: -(@desktop-padding);
		padding-left: @desktop-padding;
		padding-right: @desktop-padding;
	}

	.order__subsector-accord {
		-margin-left: -(@desktop-padding);
		-margin-right: -(@desktop-padding);
		-padding-left: @desktop-padding;
		-padding-right: @desktop-padding;
	}
}

@media @desktop-wise-width {
	.main-block--order {
		position: relative;
		padding-left: 0;
	}

	.order__wrapper {
		-margin-left: -(@desktop-padding);
		-margin-right: -(@desktop-padding);
		-padding-left: @desktop-padding;
		-padding-right: @desktop-padding;
		background-color: @white;

	}

	.order__block-space {//del?
		display: block;
		float: left;
		-clear: both;
		width: 345px;
		height: 205px; //190
		background-color: @bgc-summery-block-space; //check
	}

	.order__head-block,
	.order__order-section {
		margin-left: 395px;
	}

	.order__header {
		margin-top: 10px; // 30px - 20px maket padding - breadcrumbs pb
		margin-bottom: 0;
		font-size: 48px;
		line-height: 37px;
		color: @grey-header;
	}

	.order__sector {
		margin-left: -(@desktop-padding);
		margin-right: -(@desktop-padding);
		padding-left: @desktop-padding;
		padding-right: @desktop-padding;
		border: none;

		&:last-child {
			border: none;
		}
	}

	.order__accord-field {
		-margin-bottom: 0;
	}

	.order__desctop-menu {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;

		float: left;
		clear: both;
		width: 325px;
		-height: 100%;
		padding-left: 20px;
		padding-top: 200px;
		-background-color: @bgc-summery-order;
		background-color: @bgc-summery-block-space;// WTF&!!!
		box-sizing: border-box;

		.order__menu-sector {
			.clearfix();
			width: 345px;
			margin-left: -(@desktop-padding);
			margin-right: -(@desktop-padding);
			padding-left: @desktop-padding;
			padding-right: 0;
			-padding-bottom: 30px;			
			box-sizing: border-box;
			background-color: @bgc-summery-order;			
			cursor: pointer;

			&:not(:first-child) {
				border-top: 1px solid @white-opacity-20;
			}

			&:not(:last-child) {
				padding-bottom: 30px;
			}	

			&--active { // for desktop
				background-color: @grey-order-sector-active;
			}

			&--complete {
				.order__menu-sector-number {
					color: @white-opacity-80;
					background-color: @white-opacity-40;
					border: none;
				}
	} 
		}
		/* .order__sector {// delete			
			width: 345px;			
			padding-right: 0;			
			background-color: @bgc-summery-order;
			box-sizing: border-box;
			cursor: pointer;
			
			&--active { // for desktop
				background-color: @grey-order-sector-active;
			}
		
			&:not(:last-child) {
				padding-bottom: 30px;
			}			
		} */



		.order__menu-sector-name {
			-display: block;//////
			margin-top: 20px;
			margin-bottom: 20px;
		}

		.order__menu-sector-number {
			.fonts(@family: 'Rubik';
				@weight: normal; 
				@size: 18px; 
				@line-height: 40px; 
				@color: @white-opacity-60);

			display: inline-block;
			margin-right: 10px;
			width: 40px;
			height: 40px;
			border: 2px solid @white-opacity-60;
			border-radius: 50%;
			background-color: inherit;
			text-align: center;
			box-sizing: border-box;
		}

		.order__menu-sector-header {
			.out-indent();
			.fonts(@family: 'Rubik Medium';
				@weight: normal; 
				@size: 18px; 
				@line-height: 40px; 
				@color: @grey-order-font-point);

			display: inline-block;
			text-transform: uppercase;
		}

		.order__menu-subsector-list {
			.out-indent();
			list-style: none;
		}

		.order__menu-subsector {
			.clearfix();
			.out-indent();
			margin-left: 55px;

			&:not(:first-child) {
				margin-top: 20px;
			}

			&:not(:last-child) {
				margin-bottom: 20px;				
			}	

			-margin-top: 0;			
		}

		/* .order__subsector-head {
			-display: block;
			-margin-left: 55px;
		} */

		.order__menu-subsector-name {
			.out-indent();
			.fonts(@family: 'Rubik';
				@weight: normal; 
				@size: 14px; 
				@line-height: 18px; 
				@color: @grey-order-font-point);

			text-transform: uppercase;
		}

		.order__menu-subsector-value {
			.fonts(@family: 'Rubik';
				@weight: normal; 
				@size: 14px; 
				@line-height: 18px; 
				@color: @white-opacity-80);
			}		
	}

	.order__order-section {

		.order__sector {
			display: none;
			margin-bottom: 70px; // 40 + 30  btn height + btn margin to footer			

			&--active-desk {
				display: block;
			}
		}

		.order__sector-name {
			-display: none;
			-padding-top: 30px;
			-padding-bottom: 30px;
			margin-top: 30px;
			margin-bottom: 30px;
		}



		.order__sector-number {
			width: 36px;
			height: 36px;
			color: @bgc-summery-order;
			font-size: 18px;////
			line-height: 33px;
			border: 2px solid @bgc-summery-order;
		}

		.order__sector-header {
			font-size: 24px;
			color: @black;
			line-height: 40px;//////
		}

		.order__subsector-list {
			display: block;
		}

		.order__subsector {
			margin-top: 0;
			margin-bottom: 0;
			border-bottom: 1px solid @bgc-summery-order-op-10;

			&:first-child {
				border-top: 1px solid @bgc-summery-order-op-10;
			}
		}

		.order__subsector-head {
			-display: none;
		}

		.order__sector--contacts {
			.order__subsector-head {
				display: block;
			}
		}

		.order__sector-button {
			display: none;
		}

		.order__subsector-accord {
			-display: block;///////////////////////
		}

		.order__accord-header {
			margin-top: 20px;
			font-size: 14px;////////
			color: @grey-order-accord;///////
		}

		.order__accord-header-button {
			display: none;
		}

		.order__accord-descript {
			font-size: 14px;////////
			line-height: 18px;////////
		}

		.order__add-comment-btn {
			float: left;
		}

		.order__accord-comment-field {
			font-size: 14px;
		}

		.order__submit-btn {
			width: 130px;
		}
	}

	.order__sector-btn-block {
		display: block;
		-float: right;
		margin-top: 30px;
		font-size: 0;
	}

	.order__btn-select {
		position: relative;
		display: inline-block;
		width: 135px;
		-padding-right: 25px;
		box-sizing: border-box;

		&--prev {
			padding-left: 25px;
			margin-right: 20px;
			background-color: @white;
			border: 1px solid @red;
			color: @red;
			line-height: 36px; // 40px - 2px*2 btn height - bd*2
		}

		&--next {
			padding-right: 25px;
			background-color: @red;
		}

		&--longer {
			width: 175px;
			padding-right: 45px;
		}

		&--longer-prev {			
			padding-left: 20px;
			padding-right: 0;
		}
	}

	.btn-sign {
		display: block;
		position: absolute;
		top: 20px;
		right: 15px;
		width: 20px;
		height: 1px;
		background-color: @white;

		&::before,
		&::after {
			content: "";
			display: block;
			position: absolute;
			top: -4px;
			right: 0;
			width: 9px;
			height: 1px;
			transform: rotate(45deg);
			background-color: @white;
		}

		&::after {
			top: 4px;
			transform: rotate(-45deg);
		}

		&--prev {
			background-color: @red;
			left: 15px;
			top: 18px;

			&::before,
			&::after {
				left: 0;
				background-color: @red;
				transform: rotate(-45deg);
			}

			&::after {
				transform: rotate(45deg);
			}
		}



	}

	

}

@media (min-width: 520px) { /*for electronic layout*/
	.order__accord-feild--electornic {
		-display: inline-block;
	}
}

@media @descktop-order-width {
	
}
// NOTE order__subsector-button  change to order__sector-button